ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
}

li {
    float: left;
}

.right {
	float: right;
}

.logout {
    border: none;
    /* background: none!important; */
    display: inline-block;
    background-color: #333;
    color: white;
    font:inherit;
    text-align: center;
    padding: 14px 16px;
}

/* .logout button:hover{
    background-color: #111;
} */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: block;
    color: white;
    position: absolute;
    text-align: center;
}

.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: -1;
    overflow: visible;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    position: absolute;
    overflow: visible;
}
/*
.dropdown-content a:hover {
    background-color: #f1f1f1;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
    overflow: visible;
    position: absolute;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    overflow: visible;
    position: absolute;
} */
