input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 4px;
}
.form-container{
    margin-top: 70px;
    width: 100%;
    text-align: center
}
.form-container input {
    width: 40%;
    margin: 10px 0px 10px 0px;
}
.form-container hr {
    width: 30%;
}
.submit-btn {
    width: 100%;
    text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.button4 {
    background-color: grey;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}